* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: aquamarine;
}

ul{
  list-style-type: none;
}

.imeg{
  position: relative;
  width: 100px;
  height: 100%;
}

.pfp_container{
  width: 100px;
  height: 100px;
}

.pfp{
}

.wrapper{
  background-color: white;
  position: relative;
  border: 15px solid green;
  margin: 100px;
  padding-bottom: 100px;
  margin-right: 300px;
}

.wrapper .sidebar{
  position: fixed;
  border-right-style: solid;
  width: 100px;
}

.wrapper .content{
  position: static;
  margin-left: 110px;
}

.wrapper .content .Profile{
  position: static;
  width: auto;
  margin-left: 250px;
}